a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  html {
    font-size: 14px;
    position: relative;
    min-height: 100%;  
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  body {    
    background-color: #2B3030;
  }  
   
  .toolbar {
      background-color: #2B3030 !important;
  }